@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tech Platforms ,Computers and more..</h1>
    <p class="lead">TechClub Provides Computers,laptops,operationSystems Awhole Tech platform to get you to work in the  IT industry.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Explore here &raquo;</a></p>
</div>
<div class="body-container row">
    <div class="col-lg-4 banner-one">
        <img id="img-banner-one" src="https://p1-ofp.static.pub/fes/cms/2022/03/09/qalifxst5sqjgt2bw3fkw4jku825fx396809.png" alt="computer-img" />
        <p id="banner-content-one">High end computers for gaming ,bussnies with latest Intel,nivida Technology.</p>
        <button id="btn-banner-one" type="button" class="btn btn-primary">Explore more ..</button>

    </div>

    <div class="banner-two col-lg-4">
        <img id="img-banner-two" src="https://rtcomputers.in/wp-content/uploads/2021/12/Lenovo-Legion-5-15ARH05-f-300x300.jpg" alt="laptop-img" />
        <p id="banner-content-one">
            A laptop computer or notebook computer, combine many of the input output components
            and capabilities of a desktop computer
        </p>
        <button id="btn-banner-one" type="button" class="btn btn-primary">Explore more ..</button>

    </div>

    <div class="banner-three col-lg-4">
        <img id="img-banner-three" src="https://media.istockphoto.com/id/619052288/photo/laptop-and-computer-parts.jpg?s=612x612&w=0&k=20&c=ejIT6Owx79tk4E3z4FxS16kWQHPHL3VDE7TQRMauMLU=" alt="platform-img" />
        <p id="banner-content-one">
            Keep up the latest computer hardware,Cpu,Gpu,Ram ,storage and more..
        </p>
        <button id="btn-banner-one" type="button" class="btn btn-primary">Explore more ..</button>

    </div>


</div>
<div class="extra-content">
    <iframe id="video-content" width="1904" height="778" src="https://www.youtube.com/embed/Ho4F-UibWIk"
            title="TOP 5: Best Desktop Computers 2023" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
<div class="animation" id="test"></div>